* {
  margin: 0;
}
.App {
  margin: 1%;
  box-shadow: 0px 1px 6px 2px red;
  background-color: #333;
}
.nav__bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: white;
}
.store__header {
  margin: 2%;
}
.nav__links {
  margin: 2%;
}
.home__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.home__image {
  width: 95%;
  margin: 2.5%;
  box-shadow: 0px 1px 6px 2px red;
}
.order__button {
  padding: 1%;
  margin: 1%;
  width: 50%;
  color: white;
  background-color: red;
  font-size: 2rem;
}
